/* Basic elements */
body, html { margin: 0; padding: 0; color: #444;
             font-size: 100%: }
h1, h2, h3, h4 { color: #000; font-family: sans-serif; font-variant: small-caps;
                 font-weight: bold; margin-bottom: 0.5em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3, h4 { font-size: 1em; }
h4 { font-weight: normal; }
body { font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
       line-height: 1.6em; font-size: 18px;  }
.clear { clear: both; }
p { margin-bottom: 2em; }
.block { padding: 20px; }
a, a:hover { color: #000; display: inline-block; margin-right: 10px; }

/* Layout */
#content, #header, #wires-container,
#footer-content, #nav-content { width: 960px; margin: auto; }
#content-left, #content-right { float: left; }
#content-left { width: 670px; margin-right: 40px;}
#content-right { width: 250px; }

/* Header */
#logo { width: 700px; margin-left: -20px; }
#wires-container { height: 200px; overflow: hidden; position: absolute;
                   top: 0px; left: 0px; }
#wires { margin-top: -120px; }
#header-container { background: #000; margin-bottom: 15px; }
#header-left, #header-right { float: left; margin-bottom: 10px;}
#header-left { width: 250px; margin-right: 40px; margin-top: 15px;
               background-color: #000; height: 140px; color: #fff;
               color: #fff; font-size: 14px; font-family: arial; }
#header-left .block {padding-top: 0px; }
#header-left a {color: #fff; }

#header-right { width: 670px; }
#now-playing  {line-height: 1em; }

/* Nav */
#nav-container { position: relative; width: 960px; margin: auto; height: 200px;
                 margin-bottom: 25px; }
#nav { position: absolute; bottom: 0px; left: 0px; border-bottom: solid 5px #000; }
#nav a { display: inline-block; margin-right: 10px; background-color: #000;
         color: #fff; text-decoration: none; padding: 10px;
         font-variant: small-caps; font-family: sans-serif;
         padding-top: 2px; padding-bottom: 2px; }
#nav a:hover { color: #000; background-color: #fff; }

/* Sidebar */
#content-right #social { margin-top: 15px; }

/* Footer */
#footer { background-color: #000; padding: 15px; margin-top: 20px; color: #fff; }
.copy-it-right { text-decoration: line-through; }

/* Content area */

#content { min-height: 500px; }
#content a, #content a:hover { margin-right: 0px; }
#content-right ul {font-size: 14px; }
