/* ---- Basic elements ---- */
body, html { margin: 0; padding: 0; }
h1, h2, h3, h4 { color: #000; font-family: sans-serif; font-variant: small-caps;
                 font-weight: bold; margin-bottom: 18px; }
h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3, h4 { font-size: 18px; }
h4 { font-weight: normal; }
body { font-family: Palatino, Times, sans-serif;
       line-height: 28px; font-size: 16px; color: #444; }
.clear { clear: both; }
p { margin-bottom: 20px; }
.block { padding: 20px; }
a { color: #000; }
a:hover { color: #fff; background-color: #000; text-decoration: none; }
.note { font-style: italic; color: #666; }

/* ---- Layout ---- */
#content, #header, #hero-container,
#footer-content { width: 960px; margin: auto; }
#content-left, #content-right { float: left; }
#content-left { width: 670px; margin-right: 40px;}
#content-right { width: 250px; }

/* ---- Header ---- */
#logo { width: 700px; margin-left: -20px; }
#hero-container { height: 300px; overflow: hidden; margin-bottom: 15px;
                  position: relative; }
#header-container { background: #000; margin-bottom: 15px; }
#header-left, #header-right { float: left; margin-bottom: 10px;}
#header-left { width: 250px; margin-right: 40px; margin-top: 15px;
               background-color: #000; height: 140px; color: #fff;
               color: #fff; font-size: 14px; font-family: arial; }
#header-left .block {padding-top: 0px; }
#header-left a {color: #fff; }

#header-right { width: 670px; }
#now-playing  { line-height: 16px; }

/* ---- Nav ---- */
#nav { position: absolute; bottom: 0px; left: 0px; border-bottom: solid 5px #000;
       width: 100%; }
#nav a { display: inline-block; margin-right: 10px; background-color: #000;
         color: #fff; text-decoration: none; padding: 10px;
         font-variant: small-caps; font-family: sans-serif; text-transform: lowercase;
         padding-top: 2px; padding-bottom: 2px; }
#nav a:first-child { margin-left: 10px; }
#nav a:hover { color: #000; background-color: #fff; }

/* ---- Sidebar ---- */
#content-right #social { margin-top: 15px; }
.show-list { line-height: 18px; }
.show-list li { margin-bottom: 5px; }
.show-list a { color: #999; font-size: 12px; }
.show-list a.active-show { font-weight: bold; color: #000; }
.show-list a:hover { color: #fff; }

/* ---- Footer ---- */
#footer-content { width: 960px; margin: auto; }
#footer { background-color: #000; margin-top: 20px; color: #fff;
          position: relative; height: 60px; overflow: hidden; }
#footer-copyright { margin-top: 15px; }
.copy-it-right { text-decoration: line-through; }

/* ---- Content area ---- */
#content { min-height: 500px; }
#content a, #content a:hover { margin-right: 0px; }
#content-right ul {font-size: 14px; }

/* ---- Home ---- */
.home .page-fragment { font-size: 24px; line-height: 36px; }
.home-schedule { margin-bottom: 40px; }

/* ---- News ---- */
.news-post-list article { border-bottom: dashed 1px #000; margin-bottom: 20px; }
.news-post-list article h3 { font-size: 24px; margin-bottom: 0px;}
.news-post-list article h4 { font-size: 14px; text-transform: lowercase; font-variant: normal;
                             color: #999; }
.news-post-list .related-shows, .news-post-list .related-shows li { list-style-type: none; display: inline; }
.related-shows li:after { content:"," }
.related-shows li:last-child:after { content: ""; }

/* ---- Show detail ---- */
.archives h4 { margin-bottom: 2px; }
.archives ul, .archives li { list-style-type: square; }
.archives li { margin-left: 15px; }
.archives li a { display: block; }
.archives li a:hover { background: transparent; text-decoration: none; color: #000; }