{% extends "radio/controlpanel/base.html" %}

{% block page_title %}Dashboard <small>Control station status and view upcoming schedule</small>{% endblock %}


{% block content %}
<h4>Now Playing:</h4>
<p style="margin-bottom: 20px; padding-left: 20px;">
    {{ current_status.get_description }}
</p>


<h4>Update Status:</h4>

<form class="form-stacked update-status-form" method="POST" action="">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <p>
        <input type="submit" value="Save Changes" class="btn" />
    </p>
</form>

{% endblock %}


{% block sidebar %}
<h2>Schedule</h2>

<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=m0epah75bkhhi7lp6676oag904%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FChicago" style=" border-width:0 " width="220" height="400" frameborder="0" scrolling="no"></iframe>
{% endblock %}
