{% extends "radio/controlpanel/base.html" %}

{% block page_title %}Dashboard <small>Control station status and view upcoming schedule</small>{% endblock %}


{% block content %}
<h4>Now Playing:</h4>
<p style="margin-bottom: 20px; padding-left: 20px;">
    {{ current_status.get_description }}
</p>


<h4>Update Status:</h4>

<form class="form-stacked update-status-form" method="POST" action="">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <p>
        <input type="submit" value="Save Changes" class="btn" />
    </p>
</form>

{% endblock %}


{% block sidebar %}
<h2>Today's schedule</h2>
{% endblock %}
