{% extends "base.html" %}

{% block page_header %}Stream Control{% endblock %}

{% block content %}
<div class="span10">
  <div class="span9">
    <div class="well">
      <form action="" method="POST">
	{% if archives_playing %}
	<button class="btn large" name="archive-action" value="stop">Stop archive stream.</button>
	{% else %}
	<button class="btn large" name="archive-action" value="start">Start archive stream</button>
	{% endif %}
      </form>
    </div>
  </div>
</div>
<div class="span4">
  <h4>Current status:</h4>
  {% if archives_playing %}
  Archive stream is playing.
  {% else %}
  Archive stream is stopped.	    
  {% endif %}
</div>
{% endblock %}
