{% extends "two_col_base.html" %}

{% block hero_image %}
{% if show.detail_page_image %}
<img src="{{ show.detail_page_image.url }}" id="hero" />
{% else %}
<img src="{{ STATIC_URL }}img/WIRES_002.gif" id="hero" />
{% endif %}
{% endblock %}

{% block content_left %}
<h1>{{ show.name }}</h1>
{% if not show.is_active %}
<div class="note">(This show is currently not active -- maybe it just hasn't started yet)</div>
{% endif %}

<div class="show-description">
  {{ show.full_description|safe|linebreaks }}
</div>

{% if show.archives.count %}
<div class="archives">
  <h4>Archives:</h4>
  <ul>
    {% for archive in show.archives.all %}
    <li><a class="audio" href="{{ archive.get_mp3_url }}">{{ archive.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
