{% extends "two_col_base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content_left %}
{% load page_tags %}
{% display_page "Home Page Intro Text" %}

<div class="news-post-list">
    {% for news_post in news_post_list %}
    <article>
        <h3>{{ news_post.title }}</h3>
        <h4>Posted {{ news_post.date_published|timesince }} ago</h4>

        <div class="text-block">
            {{ news_post.body|safe|linebreaks }}
        </div>

        {% if news_post.related_shows.count %}
        <label>Related Shows:</label>
        <ul class="related-shows">
            {% for show in news_post.related_shows.all %}
            <li>
                <a href="{{ show.get_absolute_url }}">{{ show.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
    {% endfor %}
</div>
{% endblock %}

{% block content_right %}
{% display_page "Home Page Sidebar" %}

{{ block.super }}
{% endblock %}
