{% extends "two_col_base.html" %}

{% block bodyclass %}home{% endblock %}

{% block content_left %}
{% load page_tags %}
{% display_page "Home Page Intro Text" %}

<div class="home-schedule">
    <h4>Current Schedule:</h4>
    <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=m0epah75bkhhi7lp6676oag904%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FChicago" style=" border-width:0 " width="650" height="250" frameborder="0" scrolling="no"></iframe>
</div>

<div class="news-post-list">
    {% for news_post in news_post_list %}
    <article>
        <h3>{{ news_post.title }}</h3>
        <h4>Posted {{ news_post.date_published|timesince }} ago</h4>

        <div class="text-block">
            {{ news_post.body|safe|linebreaks }}
        </div>

        {% if news_post.related_shows.count %}
        <label>Related Shows:</label>
        <ul class="related-shows">
            {% for show in news_post.related_shows.all %}
            <li>
                <a href="{{ show.get_absolute_url }}">{{ show.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
    {% endfor %}
</div>
{% endblock %}

{% block content_right %}
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>
              <div class="fb-like-box" data-href="http://www.facebook.com/NUMBERS.FM" data-width="292" data-show-faces="false" data-stream="fals\
e" data-header="false"></div>

{% display_page "Home Page Sidebar" %}

{{ block.super }}
{% endblock %}
